@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  max-width: 60%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 0;
  background-color: #3f3f3f;
}

